<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.Net">
        <listeners>
          <!--<add name="NetDebugTrace"/>-->
          <add name="NetDebugConsole"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <!--<add name="NetDebugTrace"/>-->
          <add name="NetDebugConsole"/>
        </listeners>
      </source>
      <source name="MsgPack.Rpc.Server">
        <listeners>
          <!--<add name="NetDebugTrace"/>-->
          <add name="NetDebugConsole"/>
        </listeners>
      </source>
      <source name="MsgPack.Rpc.Server.Dispatch">
        <listeners>
          <!--<add name="NetDebugTrace"/>-->
          <add name="NetDebugConsole"/>
        </listeners>
      </source>
      <source name="MsgPack.Rpc.Server.Protocols">
        <listeners>
          <!--<add name="NetDebugTrace"/>-->
          <add name="NetDebugConsole"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Off" />
      <add name="System.Net.Sockets" value="Off" />
      <add name="MsgPack.Rpc.Server" value="Off" />
      <add name="MsgPack.Rpc.Server.Dispatch" value="Off" />
      <add name="MsgPack.Rpc.Server.Protocols" value="Off" />
    </switches>
    <sharedListeners>
      <!--
      <add name="NetDebugTrace"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData=".\debug-log.txt"
           />
      -->
      <add name="NetDebugConsole"
           type="System.Diagnostics.ConsoleTraceListener"
           />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>